<div id='filter-div' class='row'>
	<form id='filter-form'>
		<div id='country-dropdown' class='col-md-3'></div>
		<div id='filter-form-sector' class='col-md-4'>
		<strong>Sectors</strong><br />
			<input type='checkbox' value='Agriculture'> Agriculture<br />
			<input type='checkbox' value='Business'> Business<br />
			<input type='checkbox' value='Education'> Education<br />
			<input type='checkbox' value='Environment'> Environment<br />
			<!-- <input type='checkbox' value='Married Couples Req'> For Married Couples<br /> -->
			<input type='checkbox' value='Health'> Health<br />
			<input type='checkbox' value='Youth'> Youth
		</div>

		<div id='filter-form-quarter' class='col-md-3'>
		<strong>Quarters</strong><br />
		<input type='checkbox' value='1'> Quarter 1<br />
		<input type='checkbox' value='2'> Quarter 2<br />
		<input type='checkbox' value='3'> Quarter 3<br />
		<input type='checkbox' value='4'> Quarter 4
		</div>

		<div class='col-md-2'>
			<input id = 'fitler-form-submit' type='submit' value='Submit' class='btn btn-primary'>
		</div>

	</form>
</div>

<div id='results'>
</div>