.container-fluid {
	margin: 0 auto;
	max-width: 900px;
}

#header {
	background: #fff url('http://s3.amazonaws.com/bl-temp/pc-logo.jpg') no-repeat left top;
	height: 120px;
}

#header h1 {
	text-align: right;
	font-family: 'Helvetica';
	color: #454545;
}

.spacer {
	height: 30px;
}

#filter-div {
	border: 1px solid #d2d2d2;
	padding: 10px;
}

#fitler-form-submit {
	margin-right: 15px;
	margin-top: 100px;
	width: 120px;
	font-size: 1.3em;
}

.dropdown-checkbox ul.dropdown-checkbox-menu {
	max-height: 350px;
}

li.job-box {
	display: block;
	margin-top: 17px;
	border: 1px solid #f0f0f0;
	padding: 15px;
}

.job-box .text-left, .job-box .text-right {
	font-weight: bold;
}

.job-box .text-left {
	text-align: left;
}

.job-box .text-right {
	text-align: right;
}

.job-box .job-description {
	border: 1px solid #f0f0f0;
	padding: 5px;
}

.job-img-box {
	overflow: hidden;
	width: 200px;
	height: 200px;
	display: inline-block;
}

#filter-form-sector, #filter-form-quarter {
	font-weight: bold;
}

#apply-button {
	font-size: 20px;
	width: 200px;
	margin: 30px auto;
	display: block;
}

#results ul {
	padding-left: 0px;
}
